html, body{
  padding: 0;
  margin: 0;
}

body{
  font-family: "Elms Sans", 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.pt-serif-regular {
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.pt-serif-bold {
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-style: normal;
}

.flex{
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-center{
  justify-content: center;
}

.flex-column{
  flex-direction: column;
}

section .container, footer .container{
  margin: 0 auto;
  max-width: 1200px;
  padding: 3rem 1rem;
}

.text-center{
  text-align: center;
}

.section-title{
  display: block;
  width: fit-content;
  margin: 0 auto 2rem;
  padding: .3rem 4rem .3rem 6rem;
  text-align: center;
  border-radius: 100px;
  color: white;
  background: #575756 url("../assets/icono-manos-de-luz.svg") no-repeat .5rem center;
}

@media screen and (max-width: 750px){
  .section-title{
    font-size: 1.5rem;
    padding: .5rem 4rem .5rem 6rem;
  }
}

@media screen and (max-width: 590px){
  .section-title{
    font-size: 1rem;
    padding: .8rem 1rem .8rem 3rem;
  }

}