---
import { Image } from "astro:assets"
import SanValentine from "../../assets/hero-san-valentin.jpg"
---

<section>
  <main class="hero-main">
    <Image src={SanValentine} alt="Irresistible pheromone fragances for St. Valentine" class="hero-image" />
  </main>
</section>

<style lang="less">
  section {
    max-height: 98vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hero-main {
    height: 100%;
    width: 100%;
  }

  .hero-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
</style>