---
import {Image} from "astro:assets"

import SMImage from "../../assets/san-miguel/Imagen-San-Miguel.jpg"
import abanico from "../../assets/san-miguel/abanico-herraduras.png"
---

<section>
  <div class="container">
    <div class="san-miguel_image">
      <h1><span>Herradura de San Miguel</span></h1>
      <Image src={SMImage} alt="San Miguel Image"/>
    </div>
    <div class="san-miguel_content">
      <p>La herradura de San Miguel Arcángel, se usa como protección contra las malas energías y el mal de ojo, así como
        para atraer la buena suerte, la prosperidad u la fortuna.</p>
      <Image src={abanico} alt="Abanico de Herraduras de San Miguel"/>
      <p class="text-center">Docena con colores surtidos</p>
    </div>
  </div>
</section>

<style lang="less">
  section {
    background: #b1b1b1;
    overflow: hidden;

    .container {
      display: flex;
      padding: 0;
    }
  }

  .san-miguel {
    &_image {
      width: 50%;
      position: relative;

      h1 {
        position: absolute;
        background: url("../../assets/san-miguel/herradura-title.svg") no-repeat center center;
        background-size: contain;
        width: 100%;
        height: 18%;
        span{
          display: none;
        }
      }

      img {
        width: 100%;
        height: auto;
      }
    }

    &_content{
      width: calc(50% - 6rem);
      padding: 3rem;
      color: white;
      font-size: 1.4rem;
      img{
        width: 100%;
        height: auto;
      }
    }
  }
</style>