<footer>
  <div class="container footer">
    <h1>Contáctenos</h1>
    <h2>
      <span>Manos de luz</span>
    </h2>
    <h3 class="pt-serif-regular">
      Productos para<br/>Botánicas
    </h3>
    <div class="footer_contact-data">
      <div class="footer_contact-data_container">
        <span class="gerencia_data">gerencia@manosdeluz.net</span>
        <span class="whatsapp_data">+1 (475) 280 1913</span>
      </div>
    </div>
    <div class="footer_form">
      <form>
        <label for="full-name">Nombre completo:</label>
        <input type="text" id="full-name" name="full-name" required>

        <label for="mobile-number">Número de celular:</label>
        <input type="tel" id="mobile-number" name="mobile-number" required>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>

        <label for="message">Mensaje:</label>
        <textarea id="message" name="message" required></textarea>

        <button type="submit">Enviar</button>

      </form>
    </div>
    <div class="footer_direccion">
      <div class="footer_direccion_legend">
        Bridgeport, Connecticut
      </div>
    </div>
  </div>
</footer>

<style lang="less">
  footer {
    background: url("../assets/footer_bkg.jpg") center center no-repeat;
    background-size: cover;
  }

  .footer {
    display: grid;
    grid-template:  "title logo"
                    "contact logo"
                    "form subtitle"
                    "form address";
    grid-template-rows: auto auto 1fr max-content;
    color: white;

    h1 {
      grid-area: title;
    }

    h1, h2, h3 {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 !important;
      padding: 0 !important;
    }
    &_contact-data {
      grid-area: contact;
      padding: 1rem 0;

      &_container {
        max-width: 380px;
        margin: 0 auto;
      }

      span {
        display: block;
        width: fit-content;
        padding-left: 1.5rem;
        margin-bottom: .5rem;

        &.gerencia_data {
          background: url("../assets/footer-icon-mail.svg") center left no-repeat;
        }

        &.whatsapp_data {
          background: url("../assets/footer-icon-whatsapp.svg") center left no-repeat;
        }
      }
    }
    &_form {
      grid-area: form;
    }

    h2 {
      display: block;
      grid-area: logo;
      width: 100%;
      padding-bottom: 23%;
      margin: 3rem 0 0;
      background: url("../assets/manos-de-luz-logo-white.svg") center center no-repeat;
      span {
        display: none;
      }
    }
    h3 {
      grid-area: subtitle;
      font-size: 2.5rem;
      text-align: center;
    }
    &_direccion {
      grid-area: address;
      &_legend {
        width: fit-content;
        margin: 0 auto;
        padding-left: 1.8rem;
        background: url("../assets/footer-icon-location.svg") center left no-repeat;
      }
    }
  }


  form {
    max-width: 400px;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.47);
    padding: 2rem;
    border-radius: 1.3rem;

    label, input, textarea {
      display: block;
    }

    label {
      font-size: .8rem;
      margin-bottom: .2rem;
    }

    input, textarea {
      width: calc(100% - 2rem);
      margin-bottom: .5rem;
      border-radius: .4rem;
      border: none;
      padding: .5rem .8rem;
    }

    textarea {
      margin-bottom: 2rem;
    }
  }

  @media screen and (max-width: 680px){
    .footer{
      grid-template:  "title"
                      "logo"
                      "subtitle"
                      "contact"
                      "form"
                      "address";
      gap: 1.6rem;

      &_contact-data_container span{
        margin: 0 auto .5rem;
      }
    }

    h2{
      min-height: 7rem;
    }
  }
</style>