<footer>
  <div class="container flex">
    <div class="footer_left">
      <h1>Contáctenos</h1>
      <span class="gerencia_data">gerencia@manosdeluz.net</span>
      <span class="whatsapp_data">+1 (475) 280 1913</span>
      <div class="footer_form">
        <form>
          <label for="full-name">Nombre completo:</label>
          <input type="text" id="full-name" name="full-name" required>

          <label for="mobile-number">Número de celular:</label>
          <input type="tel" id="mobile-number" name="mobile-number" required>

          <label for="email">Email:</label>
          <input type="email" id="email" name="email" required>

          <label for="message">Mensaje:</label>
          <textarea id="message" name="message" required></textarea>

          <button type="submit">Enviar</button>

        </form>
      </div>
    </div>
    <div class="footer_right">
      <h2>
        Manos de luz
      </h2>
      <h3>
        Productos para Botánicas
      </h3>
      <div class="footer_direccion">
        2286 East Main Street, 06610 Bridgeport, Connecticut
      </div>
    </div>
  </div>
</footer>

<style lang="less">
  footer {
    color: white;
    background: url("../assets/footer_bkg.jpg") center center no-repeat;
    background-size: cover;
  }

  .footer{
    &_left{
      text-align: center;
      span{
        display: block;
      }
    }
  }

  .container > div{
    width: 50%;
    min-width: 50%;
  }
</style>